@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 90px;

    @media (min-width: 1440px) {
        height: 120px;
    }

    &__nav {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__elem {
            padding: 0.5em 1em 0.5em 1em;
            font-size: 1.2em;
            background-color: white;
            font-weight: 700;
            border-radius: 15px;

            @media (min-width: 480px) {
                font-size: 1.5em;
                padding: 0.7em 1.2em 0.7em 1.2em;
            }

            @media (min-width: 1440px) {
                font-size: 2em;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0;
    align-self: center;

    h1 {
        font-size: 2rem;
        text-align: center;

        @media (min-width: 480px) {
            font-size: 3em;
        }

        @media (min-width: 1440px) {
            font-size: 4em;
        }
    }
        

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;

        @media (min-width: 1000px) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        .list__elem {
            list-style-type: none;
            padding: 1em 2em 1em 2em;
            background-color: black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-radius: 20px;

            @media (min-width: 480px) {
                padding: 1.3em 2.5em 1.3em 2.5em;
            }

            @media (min-width: 1000px) {
                margin-left: 2em;
                margin-top: 1.3em;
            }

            a {
                font-size: 1em;
                text-align: center;
                color: white;

                @media (min-width: 480px) {
                    font-size: 1.4em;
                }

                @media (min-width: 1000px) {
                    line-height: 1.6em;
                }

                @media (min-width: 1440px) {
                    font-size: 1.6em;
                }
            }

            &:not(:first-child) {
                margin-top: 1em;
            }

            .answer__block {
                display: flex;
                flex-direction: column;
                color: white;

                .block__answer-text {
                    margin-top: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
                    line-height: 1.5em;
                    border: 1px solid white;
                    border-radius: 8px;
                    width: fit-content;

                    @media (min-width: 480px) {
                        font-size: 1.5em;
                    }

                    @media (min-width: 1000px) {
                        line-height: 1.6em;
                    }
    
                    @media (min-width: 1440px) {
                        font-size: 1.6em;
                    }
                }

                .block__question-text {
                    font-size: 1.2em;
                    text-align: center;
                    font-weight: 700;

                    @media (min-width: 480px) {
                        font-size: 1.5em;
                    }

                    @media (min-width: 1000px) {
                        line-height: 1.7em;
                    }
    
                    @media (min-width: 1440px) {
                        font-size: 1.7em;
                    }
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        .form__question {
            display: flex;
            flex-direction: column;
            padding: 0.5em 1em 1em 0.5em;
            background-color: white;
            border-radius: 10px;
            filter: drop-shadow(3px 3px 20px #bbbbbb);

            @media (min-width: 480px) {
                padding: 1.2em 2em 1.2em 2em;
            }

            @media (min-width: 1440px) {
                padding: 2em;
            }

            &:not(:first-child) {
                 margin-top: 20px;
            }

            label {
                font-size: 1.3em;
                text-align: center;
                font-weight: 700;

                @media (min-width: 1440px) {
                    font-size: 2em;
                }
            }

            input {
                margin-top: 1em;
                padding-left: 1em;
                line-height: 1.5em;
                border-radius: 8px;

                @media (min-width: 480px) {
                    font-size: 1.2em;
                }

                @media (min-width: 1440px) {
                    font-size: 2em;
                }
            }
        }

        input[type="submit"] {
            margin-top: 2em;
            width: 60%;
            align-self: center;
            background-color: #FF9B00;
            border: none;
            padding: 0.5em 1em 0.5em 1em;
            color: white;
            font-size: 1.5em;
            border-radius: 13px;

            @media (min-width: 1440px) {
                font-size: 2em;
            }
        }
    }
}