<!DOCTYPE html>
<html lang="ru">  
    <head>
        <title>Анкета</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'forms/style.css' %}">
    </head>
    </body>
        {% include "forms/header.html" %}
        <main class="main">
            <h1>{{ form.name }}</h1>
            <form action="{% url 'forms:submit' form.id %}" method="post" class="main__form form">
            {% csrf_token %}
                <div class="form__question">
                    <label for="name">Ваше имя</label>
                    <input type="text" required id="name" name="name">
                </div>
                {% for question in form.questions.all %}
                    <div class="form__question">
                        <label for="question{{ forloop.counter }}">{{ question.text }}</label>
                        <input type="text" required id="question{{ forloop.counter }}"  name="{{ question.id }}">
                    </div>
                {% endfor %}
                <input type="submit" value="Отправить">
            </form>
        </main>
    </body>
</html>