<!DOCTYPE html>
<html lang="ru">  
    <head>
        <title>Пользователи</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'forms/style.css' %}">
    </head>
    <body>    
        {% include "forms/header.html" %}
        <main class="main">
            <h1>Пользователи</h1>
            {% if user_list %}
                <ul class="main__list list">
                    {% for user in user_list %}
                        <li class="list__elem"><a href="{% url 'forms:user' user.id %}">{{ user.name }}</a></li>
                    {% endfor %} 
                </ul>
            {% else %}
                <span>Пройденных анкет еще нет</span>
            {% endif %}
        </main>
    </body>
</html>